
.logo {
  display: flex;
  align-items: center;
}

.logo a {
  padding-right: 15px;
  cursor: default;
}

.logo-link {
  &--resize img {
    @media (max-width: $mobile-max-width) {
      width: 38px;
      height: 38px;
    }
  }
}

.logo__tagline-wrapper {
  &--hide {
    @media (max-width: $mobile-max-width) {
      display: none;
    }
  }
}

.logo__title {
  @include reset-margin;
  padding-bottom: 5px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 25px;
  line-height: 29.3px;
  font-weight: 700;
  color: $color-white;

  &--black {
    color: $color-black2;
  }
}

.logo__tagline {
  @include reset-margin;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 14.06px;
  font-weight: 500;
  color: $color-grey;
}
