.promo {
  position: relative;
  display: flex;
  padding-top: 169px;
  padding-right: 177px;
  padding-bottom: 103px;

  @media (max-width: $desktop-max-width-2) {
    justify-content: space-evenly;
    padding-right: 5%;
    padding-bottom: 180px;
    padding-left: 5%;
  }

  @media (max-width: $tablet-max-width) {
    justify-content: flex-start;
    padding-top: 55px;
    padding-bottom: 163px;
    padding-left: 88px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
    padding-right: 0;
    padding-bottom: 70px;
    padding-left: 15px;
  }
}

.promo__picture {
  @media (max-width: $tablet-max-width) {
    position: absolute;
    content: "";
    top: 41px;
    right: -207px;
  }

  @media (max-width: $mobile-max-width) {
    position: static;
  }
}

.promo__desc-wrapper {
  margin-right: auto;
  padding-top: 56px;

  @media (max-width: $desktop-max-width-2) {
    margin-right: 0;
  }

  @media (max-width: $mobile-max-width) {
    order: 2;
    margin-top: -25px;
    padding-top: 0;
    padding-right: 15px;
  }
}

.promo__wrapper {
  max-width: 720px;
  padding-bottom: 44px;

  @media (max-width: $desktop-max-width-2) {
    max-width: 390px;
    padding-bottom: 55px;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 40px;
  }
}

.promo__wrapper h1 {
  @include reset-margin;
  padding-bottom: 28px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 80px;
  line-height: 93.75px;
  font-weight: 700;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $color-white;

  @media (max-width: $desktop-max-width-2) {
    padding-bottom: 30px;
    font-size: 60px;
    line-height: 70.31px;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 28px;
    font-size: 40px;
    line-height: 46.88px;
  }
}

.promo__wrapper p {
  @include reset-margin;
  position: relative;
  font-size: 22px;
  line-height: 34.5px;
  color: $color-white;
  padding-left: 93px;

  &::before {
    position: absolute;
    content: "";
    top: 17px;
    left: 0;
    width: 66px;
    height: 2px;
    background: url("../img/dash.svg") no-repeat;

    @media (max-width: $desktop-max-width-2) {
      width: 33px;
    }
  }

  @media (max-width: $desktop-max-width-2) {
    padding-left: 51px;
    font-size: 18px;
    line-height: 28.22px;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 16px;
    line-height: 25.09px;
  }
}

.promo__btn-consultation {
  display: block;
  width: 407px;
  margin-left: 94px;
  padding-bottom: 17px;
  font-size: 16px;
  line-height: 18.75px;
  background-color: $color-blue-light;
  border: 1px solid $color-blue-light;

  &:hover,
  &:focus {
    color: $color-blue-light;
    background-color: transparent;
    border-color: $color-blue-light;
  }

  @media (max-width: $desktop-max-width-2) {
    width: 379px;
    margin-left: 51px;
    padding-bottom: 19px;
  }

  @media (max-width: $mobile-max-width) {
    width: 287px;
    margin: 0 auto;
  }
}

.promo__btn-consultation span {
  &:first-child {
    @media (max-width: $mobile-max-width) {
      display: none;
    }
  }

  &:first-child + span {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.promo__scroll-down {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  line-height: 15.68px;
  color: rgba($color-white, 0.5);
  transform: rotate(-90deg) translate(-127px, -39px);

  &:hover,
  &:focus {
    color: $color-blue-light;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $desktop-max-width-2) {
    transform: rotate(-90deg) translate(-100px, -39px);
  }

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}
