.site-header {
  // position: static;
  // z-index: -2;
  padding-top: 33px;
  background: url("../img/back-promo-desk.png") #1b2d37 no-repeat;
  padding-bottom: 2869px;

  @media (max-width: $tablet-max-width) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 16px;
  }
}

.site-header__wrapper {
  display: flex;
  align-items: center;
}

.site-header__logo-wrapper {
  position: relative;
  margin-right: auto;
  padding-right: 156px;

  @media (max-width: $desktop-max-width-2) {
    padding-right: 100px;
  }

  @media (max-width: $tablet-max-width) {
    padding-right: 400px;
  }

  @media (max-width: $mobile-max-width) {
    padding-right: 138px;
  }
}

.site-header__logo-wrapper::before,
.site-header__logo-wrapper::after {
  position: absolute;
  content: "";
  top: 21px;
  right: 0;
  width: 37px;
  height: 1px;
  background: url("../img/dash.svg") no-repeat;

  @media (max-width: $tablet-max-width) {
    top: 17px;
  }

  @media (max-width: $mobile-max-width) {
    top: 11px;
  }
}

.site-header__logo-wrapper::after {
  transform: translateY(12px);
}


.site-header__user-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.site-header__user-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin-right: 53px;

  @media (max-width: $desktop-max-width-2) {
    margin-right: 21px;
  }

  @media (max-width: $tablet-max-width) {
    margin: 0;
  }
}

.site-header__user-item {
  &:not(:last-child) {
    margin-right: 71px;

    @media (max-width: $desktop-max-width-2) {
      margin-right: 20px;
    }

    @media (max-width: $tablet-max-width) {
      margin-right: 0;
    }
  }
}

.site-header__user-item a {
  position: relative;
  padding-left: 50px;
  line-height: 17.92px;
  color: $color-white;

  &:hover,
  &:focus {
    color: $color-blue-light;
  }

  &:active {
    opacity: 0.5;
  }

  &:hover svg,
  &:focus svg {
    fill: $color-white;
  }

  &:active svg {
    fill-opacity: 0.5;
  }

  @media (max-width: $tablet-max-width) {
    padding-left: 46px;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 42px;
  }
}

.site-header__user-link span {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.site-header__user-link svg {
  position: absolute;
  content: "";
}

.site-header__user-link--mail svg {
  top: 3px;
  left: 11px;
  width: 19px;
  height: 14px;

  @media (max-width: $tablet-max-width) {
    top: -1px;
    left: 11px;
    width: 25px;
    height: 19px;
    // zoom: 1.4;
  }
}

.site-header__user-link--phone svg {
  top: 0;
  left: 18px;
  width: 18px;
  height: 18px;

  @media (max-width: $tablet-max-width) {
    top: -4px;
    left: 24px;
    width: 24px;
    height: 24px;
  }

  @media (max-width: $mobile-max-width) {
    left: 17px;
  }
}

.site-header__btn-callback {
  display: block;
  width: 180px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}
