.social__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
}

.social__list li {
  &:not(:last-child) {
    padding-right: 15px;
  }
}

.social__item a {
  &:hover svg,
  &:hover svg {
    opacity: 0.7;
  }

  &:active svg {
    opacity: 0.3;
  }
}
