.social__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
}

.social__item a {
  padding-right: 15px;

  &:hover svg,
  &:hover svg {
    opacity: 0.7;
  }

  &:active svg {
    opacity: 0.3;
  }
}
