$mobile-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;
$desktop-max-width-2: 1919px;
$desktop-max-width: 1920px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$color-white: #ffffff;
$color-black: #000000;
$color-black2: #203c42;
$color-black3: #1b2d37;
$color-grey-dark: #666666;
$color-grey: #788891;
$color-grey2: #626962;
$color-blue-light: #00b2ff;
